sklearn
numpy
pandas
tqdm
docopt
itertools
sys
ast
colorama==0.4.4
joblib==1.1.0
kaleido==0.2.1
packaging==21.3
patsy
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
statsmodels
tenacity
threadpoolctl

matplotlib